#  ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the data:
pokemon= pd.read_csv('pokemon.txt', sep=',')

In [3]:
pokemon.head(30)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False

In [4]:
pokemon.shape

(800, 13)

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [5]:
unique_types1 = list(pokemon['Type 1'].unique())

In [6]:
unique_types1

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

In [7]:
# 18 unique values

In [8]:
unique_types2 = list(pokemon['Type 2'].unique())

In [9]:
unique_types2

['Poison',
 nan,
 'Flying',
 'Dragon',
 'Ground',
 'Fairy',
 'Grass',
 'Fighting',
 'Psychic',
 'Steel',
 'Ice',
 'Rock',
 'Dark',
 'Water',
 'Electric',
 'Fire',
 'Ghost',
 'Bug',
 'Normal']

In [48]:
# NC: 19 unique values - we go with unique_types2

# If you actually aggregate Type 1 and Type 2, you get over 130 Types out, so that can't be correct?

C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_43912\2365604791.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  types = pokemon['Type 1'].append(pokemon['Type 2']).unique()

19

In [ ]:
# Because Type 2 gives us a lot of NaNs and is empty after we get rid of Nans, I try again with Type 1:

In [38]:
pokemon_total = pokemon.pivot_table(index = ['Type 1'], values = 'Total', aggfunc= {'Total':'sum'})

In [41]:
pokemon_total_2 = pokemon_total.T

In [42]:
pokemon_total_2.head()

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Total,26146,13818,17617,19510,7024,11244,23820,1940,14066,29480,14000,10403,39365,11176,27129,19965,13168,48211

In [58]:
# Alternative:

pokemon['pokemon_count'] = pokemon.groupby('Type 1').cumcount() 

pokemon_pivot = pokemon.pivot(index='pokemon_count', columns='Type 1', values= 'Total')
pokemon_pivot.columns = [str(x) for x in pokemon_pivot.columns.values]
pokemon_pivot.head(50)

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
pokemon_count,,,,,,,,,,,,,,,,,,
0,195.0,525.0,300.0,320.0,323.0,305.0,309.0,580.0,310.0,318.0,300.0,455.0,251.0,288.0,310.0,300.0,510.0,314.0
1,205.0,405.0,420.0,485.0,483.0,455.0,405.0,580.0,405.0,405.0,450.0,580.0,349.0,438.0,400.0,390.0,610.0,405.0
2,395.0,430.0,600.0,325.0,218.0,305.0,534.0,245.0,500.0,525.0,265.0,250.0,479.0,275.0,500.0,495.0,465.0,530.0
3,195.0,330.0,490.0,465.0,245.0,405.0,634.0,535.0,600.0,625.0,405.0,450.0,579.0,365.0,590.0,385.0,380.0,630.0
4,205.0,500.0,590.0,330.0,405.0,505.0,634.0,NaN,435.0,320.0,320.0,330.0,253.0,505.0,328.0,355.0,480.0,320.0
5,395.0,600.0,300.0,480.0,300.0,455.0,299.0,NaN,295.0,395.0,425.0,305.0,413.0,273.0,483.0,495.0,330.0,500.0
6,495.0,220.0,420.0,490.0,450.0,455.0,505.0,NaN,455.0,490.0,345.0,300.0,262.0,365.0,460.0,355.0,430.0,300.0
7,285.0,420.0,600.0,525.0,545.0,210.0,350.0,NaN,555.0,300.0,485.0,480.0,442.0,505.0,680.0,495.0,530.0,385.0
8,405.0,380.0,700.0,580.0,303.0,455.0,555.0,NaN,295.0,390.0,430.0,580.0,270.0,245.0,780.0,515.0,630.0,510.0
9,305.0,480.0,600.0,205.0,371.0,237.0,410.0,NaN,455.0,490.0,330.0,290.0,435.0,455.0,780.0,615.0,300.0,335.0
10,450.0,465.0,700.0,280.0,552.0,474.0,500.0,NaN,348.0,325.0,500.0,410.0,290.0,325.0,600.0,410.0,420.0,515.0
11,500.0,565.0,600.0,365.0,341.0,280.0,495.0,NaN,498.0,520.0,290.0,530.0,440.0,500.0,320.0,300.0,600.0,315.0
12,500.0,505.0,700.0,510.0,462.0,410.0,525.0,NaN,495.0,435.0,340.0,580.0,352.0,340.0,470.0,410.0,700.0,490.0
13,600.0,510.0,680.0,610.0,341.0,510.0,580.0,NaN,485.0,318.0,520.0,525.0,310.0,490.0,525.0,600.0,580.0,590.0
14,265.0,600.0,780.0,360.0,480.0,285.0,309.0,NaN,525.0,405.0,300.0,530.0,460.0,535.0,336.0,700.0,600.0,325.0
15,390.0,281.0,300.0,580.0,525.0,525.0,405.0,NaN,680.0,525.0,500.0,480.0,385.0,302.0,405.0,375.0,300.0,475.0
16,250.0,446.0,410.0,295.0,680.0,625.0,534.0,NaN,680.0,490.0,670.0,305.0,450.0,467.0,680.0,440.0,500.0,305.0
17,390.0,348.0,600.0,475.0,NaN,305.0,250.0,NaN,303.0,250.0,770.0,395.0,490.0,458.0,600.0,440.0,680.0,525.0
18,390.0,488.0,700.0,575.0,NaN,405.0,410.0,NaN,483.0,340.0,330.0,535.0,590.0,329.0,198.0,355.0,300.0,325.0
19,290.0,330.0,320.0,405.0,NaN,505.0,365.0,NaN,275.0,460.0,525.0,305.0,490.0,479.0,278.0,495.0,440.0,475.0
20,465.0,510.0,410.0,405.0,NaN,465.0,580.0,NaN,370.0,180.0,535.0,485.0,288.0,330.0,518.0,355.0,520.0,295.0
21,500.0,340.0,540.0,263.0,NaN,465.0,680.0,NaN,520.0,425.0,510.0,485.0,325.0,500.0,618.0,495.0,580.0,440.0
22,600.0,490.0,485.0,363.0,NaN,350.0,310.0,NaN,309.0,310.0,328.0,304.0,395.0,300.0,330.0,580.0,325.0,320.0
23,505.0,370.0,680.0,523.0,NaN,510.0,405.0,NaN,474.0,405.0,508.0,514.0,540.0,490.0,470.0,350.0,448.0,450.0
24,500.0,510.0,680.0,405.0,NaN,348.0,530.0,NaN,335.0,530.0,292.0,NaN,215.0,329.0,425.0,495.0,520.0,340.0
25,600.0,300.0,660.0,535.0,NaN,495.0,630.0,NaN,335.0,630.0,351.0,NaN,415.0,474.0,260.0,350.0,520.0,520.0
26,195.0,420.0,700.0,540.0,NaN,500.0,305.0,NaN,335.0,220.0,519.0,NaN,262.0,320.0,600.0,495.0,470.0,200.0
27,205.0,600.0,700.0,440.0,NaN,NaN,460.0,NaN,335.0,340.0,471.0,NaN,442.0,494.0,600.0,290.0,NaN,540.0
28,395.0,288.0,300.0,520.0,NaN,NaN,560.0,NaN,494.0,480.0,303.0,NaN,210.0,NaN,600.0,525.0,NaN,640.0
29,205.0,482.0,452.0,520.0,NaN,NaN,470.0,NaN,494.0,295.0,483.0,NaN,360.0,NaN,600.0,280.0,NaN,535.0
30,385.0,680.0,600.0,520.0,NaN,NaN,309.0,NaN,494.0,460.0,600.0,NaN,455.0,NaN,285.0,390.0,NaN,525.0
31,269.0,NaN,600.0,520.0,NaN,NaN,405.0,NaN,494.0,400.0,600.0,NaN,415.0,NaN,310.0,515.0,NaN,314.0
32,414.0,NaN,NaN,520.0,NaN,NaN,534.0,NaN,NaN,335.0,NaN,NaN,330.0,NaN,518.0,401.0,NaN,405.0
33,266.0,NaN,NaN,295.0,NaN,NaN,540.0,NaN,NaN,475.0,NaN,NaN,500.0,NaN,618.0,567.0,NaN,530.0
34,456.0,NaN,NaN,497.0,NaN,NaN,600.0,NaN,NaN,460.0,NaN,NaN,515.0,NaN,580.0,580.0,NaN,330.0
35,236.0,NaN,NaN,428.0,NaN,NaN,308.0,NaN,NaN,318.0,NaN,NaN,465.0,NaN,580.0,306.0,NaN,460.0
36,400.0,NaN,NaN,275.0,NaN,NaN,418.0,NaN,NaN,405.0,NaN,NaN,250.0,NaN,580.0,500.0,NaN,250.0
37,400.0,NaN,NaN,405.0,NaN,NaN,528.0,NaN,NaN,525.0,NaN,NaN,490.0,NaN,600.0,362.0,NaN,420.0
38,194.0,NaN,NaN,515.0,NaN,NaN,316.0,NaN,NaN,280.0,NaN,NaN,540.0,NaN,600.0,521.0,NaN,500.0
39,384.0,NaN,NaN,580.0,NaN,NaN,498.0,NaN,NaN,515.0,NaN,NaN,240.0,NaN,292.0,362.0,NaN,210.0
40,224.0,NaN,NaN,580.0,NaN,NaN,315.0,NaN,NaN,275.0,NaN,NaN,420.0,NaN,487.0,521.0,NaN,430.0
41,424.0,NaN,NaN,289.0,NaN,NaN,480.0,NaN,NaN,450.0,NaN,NaN,270.0,NaN,313.0,500.0,NaN,490.0
42,424.0,NaN,NaN,481.0,NaN,NaN,540.0,NaN,NaN,454.0,NaN,NaN,430.0,NaN,425.0,600.0,NaN,430.0
43,424.0,NaN,NaN,431.0,NaN,NaN,484.0,NaN,NaN,334.0,NaN,NaN,280.0,NaN,490.0,700.0,NaN,380.0
44,424.0,NaN,NaN,NaN,NaN,NaN,307.0,NaN,NaN,494.0,NaN,NaN,440.0,NaN,290.0,NaN,NaN,300.0
45,244.0,NaN,NaN,NaN,NaN,NaN,409.0,NaN,NaN,594.0,NaN,NaN,670.0,NaN,390.0,NaN,NaN,480.0
46,474.0,NaN,NaN,NaN,NaN,NaN,534.0,NaN,NaN,535.0,NaN,NaN,240.0,NaN,490.0,NaN,NaN,465.0
47,515.0,NaN,NaN,NaN,NaN,NaN,382.0,NaN,NaN,525.0,NaN,NaN,360.0,NaN,290.0,NaN,NaN,540.0
48,310.0,NaN,NaN,NaN,NaN,NaN,499.0,NaN,NaN,600.0,NaN,NaN,490.0,NaN,370.0,NaN,NaN,580.0
49,380.0,NaN,NaN,NaN,NaN,NaN,369.0,NaN,NaN,600.0,NaN,NaN,190.0,NaN,490.0,NaN,NaN,310.0

In [59]:
pokemon_pivot.shape

(112, 18)

In [61]:
pokemon_pivot= pokemon_pivot.fillna(0)

#### Second: we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [16]:
# Don't understand these steps, didn't work for me, left it - please explain this in class, if we have time!

list

[[26146,
  13818,
  17617,
  19510,
  7024,
  11244,
  23820,
  1940,
  14066,
  29480,
  14000,
  10403,
  39365,
  11176,
  27129,
  19965,
  13168,
  48211]]

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [62]:
st.f_oneway(pokemon_pivot.Bug,pokemon_pivot.Dark,pokemon_pivot.Dragon,pokemon_pivot.Electric,pokemon_pivot.Fairy,pokemon_pivot.Fighting, pokemon_pivot.Fire, pokemon_pivot.Flying, pokemon_pivot.Ghost, pokemon_pivot.Grass, pokemon_pivot.Ground, pokemon_pivot.Ice, pokemon_pivot.Normal, pokemon_pivot.Poison, pokemon_pivot.Psychic, pokemon_pivot.Rock, pokemon_pivot.Steel, pokemon_pivot.Water)

F_onewayResult(statistic=28.674566584818066, pvalue=2.254687684597403e-82)

#### Interpret the ANOVA test result. Is the difference significant?

In [ ]:
# The pvalue is under 5 Percent, which means that we can reject H0.